* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #212121;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --red0: #FF5252;
    --red1: #FF1744;
    --green0: #69F0AE;
    --green1: #00C853;
    --white0: #F5F5F5;
    --white1: #FFFFFF;
    --gray0: #ccc;
    --gray1: gray;
    --dark: #212121;
}

@keyframes incorrect {
    0% {
        transform: translateX(-10px);
    }
    
    5% {
        transform: translateX(10px);
    }
    
    10% {
        transform: translateX(-10px);
    }
    
    15% {
        transform: translateX(10px);
    }
    
    20% {
        transform: translateX(0px);
    }
}

#body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: var(--gray0);
}

#security-alert {
    top: 50%;
    left: 50%;
    height: auto;
    width: 20rem;
    z-index: 2;
    gap: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: fixed;
    padding: 1rem;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.3;
    font-size: 12px;
    transform: translate(-50%, -50%);
    background: var(--white1);
}

#security-alert span {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF8A80;
    transition: background 0.5s ease;
}

#security-alert span var {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF5252;
    transition: background 0.5s ease;
}

#security-alert span var i {
    height: 4rem;
    width: 4rem;
    display: flex;
    opacity: 0.8;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white1);
    background: #FF1744;
    transition: background 0.5s ease;
}

#security-alert div {
    font-size: 30px;
    font-weight: bold;
}

#security-alert-overlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

#main {
    width: 90%;
    max-width: 40rem;
    padding: 10px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: inset 2px 2px 10px var(--gray1), inset -2px -2px 10px var(--gray1), 1px 1px 10px rgba(0, 0, 0, 0.5), -1px -1px 10px rgba(0, 0, 0, 0.5);
    background: var(--white1);
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /*border: 1px solid var(--dark);*/
}

#main-header-functions {
    height: 3rem;
    width: 100%;
    display: flex;
    padding: 0 0.5rem 0 0.5rem;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid var(--dark);*/
}

#toggle-frame {
    height: 2rem;
    width: 5rem;
    display: flex;
    padding: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid var(--gray0);
    background: var(--white0);
    transition: background 0.5s ease;
}

#toggle-frame span {
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 50%;
    background: var(--dark);
    transform: translateX(-23px);
    transition: transform 0.5s ease;
}

#toggle-frame p {
    font-weight: normal;
    font-size: 12px;
    transform: translateX(20px);
    transition: transform 0.5s ease;
}

#status {
    height: 2rem;
    width: 6rem;
    gap: 5px;
    display: flex;
    padding: 10px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid var(--gray0);
    background: var(--green0);
    transition: background 0.5s ease;
}

#main-header-text {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}

#main-header-text span {
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
}

#main-header-text p {
    font-size: 12px;
    font-family: monospace;
}

#main-header-indicators {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid black;*/
}

#main-header-indicators>div {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    animation: none;
}

#main-header-indicators span {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid var(--dark);*/
}

#main-header-indicators span p {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    background: none;
    transition: height 0.5s ease, width 0.5s ease;
}

#main-main {
    /*border: 1px solid black;*/
}

#main-main-key-container {
    height: 100%;
    width: 100%;
    gap: 5px;
    display: flex;
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    /*border: 1px solid red;*/
}

#main-main-key-container span {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /*border: 1px solid greenyellow;*/
}

.btns {
    height: 80px;
    width: 80px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--dark);
    background: var(--white0);
}

.btns:active {
    background: #EEEEEE;
}

#main-main-key-container span:nth-child(4) p:nth-child(1) {
    background: var(--dark);
}

#main-main-key-container span:nth-child(4) p:nth-child(1) i {
    color: var(--white1);
}

#main-main-key-container span:nth-child(4) p:nth-child(3) {
    background: var(--green0);
    transition: background 0.5s ease;
}

#main-main-key-container span:nth-child(4) p:nth-child(3) i {
    color: var(--white1);
}

@media (min-width: 768px) {
    #main {
        flex-direction: row;
        width: 700px;
        gap: 1rem;
    }
    
    #main-header-functions {
        padding: 0 2rem 0 2rem;
    }
    
    #main-header {
        flex: 1;
    }
    
    #main-main {
        flex: 1;
    }
}

@media screen and (orientation:landscape) {
    #main {
        flex-direction: row;
        width: 90%;
        margin: 2rem 0 2rem 0;
    }
    
    #main-header {
        flex: 1;
    }
    
    #main-main {
        flex: 1;
    }
}