* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#FFA41E, #FF7C40);
}

#loader {
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(3px);
    background:  rgba(0, 0, 0, 0.5);
}
#loader i {
    color: #FFFF;
    font-size: 25px;
}

#notify {
    z-index: 5;
    height: 10rem;
    width: 90%;
    gap: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    background: #FFFF;
    position: absolute;
    border-radius: 1.2rem;
}

#notify label {
    font-size: 20px;
}

#notify input {
    height: 2.5rem;
    width: 100%;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
    background: #EEEE;
    /* border: 1px solid red; */
}

#notify div {
    width: 100%;
    display: flex;
    gap: 1rem;
    /* border: 1px solid red; */
}

#notify div button {
    height: 2.2rem;
    width: 100%;
    outline: none;
    border-radius: 0.9rem;
    background: linear-gradient(#FFA41E, #FF7C40);
}

#notify div:nth-of-type(1) {

}

#overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.5);
}

main {
    gap: 3rem;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#intro_text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FFFF;
}

#start_chat {
    height: 3rem;
    width: 80%;
    color: #FFFF;
    font-weight: bolder;
    max-width: 15rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
}
#start_chat:hover {
    background-color: rgba(255, 255, 255, 0.5);
}